.modal-dialog {
  margin: 30px auto;
}

.modal-40percent .modal-dialog {
  width: 40%;
}

.modal-60percent .modal-dialog {
  width: 60%;
}

.modal-80percent .modal-dialog {
  width: 80%;
}

.modal-90percent .modal-dialog {
  width: 90%;
}

.modal-fixed-width-500 .modal-dialog {
  width: 500px;
}

.modal-fixed-width-600 .modal-dialog {
  width: 600px;
}

.modal-fixed-width-700 .modal-dialog {
  width: 700px;
}

.modal-fixed-width-800 .modal-dialog {
  width: 800px;
}

.close-modal {
  float: right !important;
  padding-top: 0;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  color: darkslategray;
}